name: "Check PR Title"

on:
  pull_request:

jobs:
  validate:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@1.4.0
        with:
          task_types: '["feat","fix","perf","docs","chore","ci"]'
          add_label: 'true'