name: "Check PR Title"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronized

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            perf
            docs
            chore
            ci
          requireScope: false
          autolabel: true